.main-banner
	visibility: hidden
	&.slick-initialized
		visibility: visible
	.slick-current.slick-active
		.banner-item_links
			opacity: 1
			transform: translateX(0)

.banner-item
	min-height: 560px
	background-repeat: no-repeat
	background-size: cover
	font-size: 0.8em
	background-position: center
	.d-flex
		height: 100%
	.container
		margin: auto
	&_descr
		max-width: 360px
		.h2
			font-size: 0.8rem
			line-height: 1.3
			color: $color-h
			letter-spacing: 1.5px
	&_links
		display: flex
		flex-direction: column
		margin-top: 130px
		font-size: 0.9em
		transform: translateX(100px)
		opacity: 0
		transition: opacity .3s ease, transform .7s ease
		transition-delay: .7s
		.banner-p__link
			color: $gray-2
			text-transform: uppercase
			margin-top: 8px
	.btn_accent
		color: $accent
		text-transform: uppercase
		letter-spacing: 1px
		.i
			font-size: 1.2em
	.banner-p__img-wrap
		text-align: center
		.banner-p__img
			display: inline-block
	.slick-slide img
		max-height: 100%
		width: auto

.slick-dotted.slick-slider
	margin-bottom: 5px
		
/*========== Media Desktop First  ==========*/
@media (max-width: $media-xxl-breakpoint)	
	.banner-item
		height: auto
		min-height: auto
		padding: 100px 0

// ≥1200px
+media-breakpoint-down(lg)
	.slick-dotted.slick-slider
		margin-bottom: 0
	.banner-item
		padding: 80px 0
	.banner-item_links
		margin-top: 90px

// ≥992px
+media-breakpoint-down(md)
	.banner-item
		padding: 70px 0
	.banner-item_links
		margin-top: 60px

// ≥768px
+media-breakpoint-down(sm)
	.banner-p__img-wrap
		margin-bottom: 20px
	
	.banner-item_links
		margin-top: 30px
	
	.banner-p__img
		max-width: 300px
		margin: auto
		text-align: center

// ≥576px
+media-breakpoint-down(xs)
	.banner-item_links
		margin-top: 30px

	.banner-item
		padding: 60px 0
		.banner-item_descr-wrap
			padding: 30px 15px