.__show-overlay.__character-active
	.page-overlay
		z-index: 20
	.character-wrapper
		z-index: 22

.character
	position: relative
	display: inline-block
	&-wrapper
		position: fixed
		bottom: 0
		right: 10%
		z-index: 10
		opacity: 0
		visibility: hidden
		transition: all 0.5s ease
		min-height: 85px
		+media-breakpoint-down(xs)
			right: 15px
		&.active
			opacity: 1
			visibility: visible
			&.used
				display: none
			.character-text
				opacity: 1
				transform: translateY(0)
			&.hidden
				display: none
		&.hidden
			display: none
		&.character-welcome
			bottom: auto
			top: 330px
		&.character-filter--help
			right: auto
			left: 10%
			+media-breakpoint-down(xs)
				left: 15px
			.character-text
				right: auto
				left: calc(100% + 20px)
				&:before
					left: auto
					right: 99.9%
					transform: translateY(-50%) rotate(180deg)
		&.character-left
			right: auto
			left: 0
			&.character-blog
				+media-breakpoint-up(xs)
					left: 20px
					bottom: 5px
			&.character-filter--help
				left: 5%
				+media-breakpoint-down(lg)
					left: 0
			.character-text
				right: auto
				left: calc(100% + 20px)
				&:before
					left: auto
					right: 99.9%
					transform: translateY(-50%) rotate(180deg)
			//.close
			//	right: auto
			//	left: 0
		&.character-center
			top: 50%
			bottom: auto
			left: 50%
			right: auto
			transform: translate(-50%, -50%)
			+media-breakpoint-down(sm)
				.character-text
					width: 200px
			+media-breakpoint-down(xs)
				left: 62%
				top: 40%
				transform: none
				.character-img
					max-width: 80px
				.character-text
					width: 158px
				.character-text__inner
					position: relative
					padding: 17px 15px
		&.character-purchased.character-left
			right: 100%
			top: calc(100% - 58px)
			position: absolute
			left: auto
			.character-img
				max-width: 140px
				+media-breakpoint-down(xs)
					max-width: 100px
			.character-text
				left: 100%
				top: 15%
			@media screen and (max-width: 1500px)
				left: -17px
				top: calc(100% - 42px)
				right: auto
			+media-breakpoint-down(sm)
				left: 0
		&.character-wakeup
			.character-text
				width: 150px
			+media-breakpoint-down(xs)
				.character-text
					width: 122px
				.character-img
					max-width: 100px
			&.character-center
				+media-breakpoint-down(xs)
					left: 55%
		&.character-blog
			.character-img
				max-width: 140px
				+media-breakpoint-down(xs)
					max-width: 70px
		.close
			position: absolute
			//right: 0
			//top: -25px
			right: 3px
			top: 3px
			font-size: 18px
			opacity: 0.7
			transition: 0.3s
			+media-breakpoint-up(lg)
				&:hover
					opacity: 1
	&-text
		background-color: #fff
		box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.1)
		position: absolute
		right: calc(100% + 20px)
		top: 0
		width: 290px
		font-size: 0.8rem
		font-weight: 500
		opacity: 0
		transform: translateY(50px)
		transition: all 0.5s ease
		transition-delay: 0.3s
		+media-breakpoint-down(xs)
			width: 196px
		&:before
			content: '\f0da'
			font-family: 'icomoon'
			font-size: 30px
			position: absolute
			left: 99.6%
			top: 50%
			transform: translateY(-50%)
			z-index: 1
			color: #fff
			text-shadow: 5px 0px 14px rgba(0,0,0,.1)
		&__inner
			position: relative
			padding: 17px
			opacity: 0
			&.active
				opacity: 1
			.new
				opacity: 0
			.div_opacity
				transition: opacity .09s ease-in-out
				opacity: 1
		a
			border-bottom: 1px dashed $text
			display: inline-block
			line-height: 1.1
	&-img
		max-width: 180px
		+media-breakpoint-down(sm)
			max-width: 140px
		+media-breakpoint-down(md)
			max-width: 100px
		+media-breakpoint-down(xs)
			max-width: 80px
	.holder
		position: relative
	.btn__callback
		border-bottom: 1px dashed $text