#my-header
	position: fixed
	left: 0
	top: 0
	z-index: 11
	background: #fff
	width: 100vw

#my-content
	margin-top: 100px

.top-banner
	text-align: center
	font-size: 0.7rem
	padding: 7px 15px
	background: #00794f
	color: #ffffff
	letter-spacing: 0.1px
	font-weight: 500
	opacity: 1
	visibility: visible
	height: auto
	display: block
	transition: 0.45s ease

.topline
	padding: 25px 0
	transition: all 0.5s ease
	.menu
		color: $gray
		font-size: 0.9em
		padding: 0
		margin: 0
		>li
			margin-right: 30px
			list-style-type: none
			&:last-child
				margin-right: 0
				color: $accent
				font-weight: 400
		.has-dropdown
			cursor: pointer
			transition: all 0.2s ease
			&:hover
				span
					color: $accent
				div
					border-color: $accent transparent transparent transparent
			&.active
				div
					transform: rotate(180deg)
			span
				padding-right: 6px
				position: relative
				transition: all 0.2s ease
			div
				width: 0
				height: 0
				border-style: solid
				border-width: 5.5px 3.3px 0 3.3px
				border-color: $gray transparent transparent transparent
				float: right
				margin-top: 7px
	.btn__callback
		border-bottom: 1px dashed $gray

.h-phones
	font-size: 0.93em
	text-shadow: 0 0 0 $gray
	.dropdown
		min-width: 205px
		padding-right: 6px
		ul
			padding: 0
			margin: 0 0 24px
			li
				list-style-type: none
				margin-bottom: 6px
				.a
					display: flex
					align-items: center
					>span:first-child
						margin-right: 3px
					[class^="icon_"]
						transform: translateY(1px)
		.h6
			margin-bottom: 6px
			display: block
			font-size: 0.8em
		.timework
			line-height: 1.55
			font-size: 0.93em
	.has-dropdown
		padding-right: 16px
		.h-phones-more
			position: absolute
			right: 0
			top: 50%
			transform: translateY(-45%)
			font-size: 1.1em
			cursor: pointer
		&.active
			.h-phones-more
				transform: translateY(-45%) rotate(180deg)

.header__user-buttons
	margin: 0
	padding: 0

.hub-list
	margin: 0
	padding: 0
	text-align: right

.hub-i
	list-style-type: none
	margin-right: 10px
	display: inline-flex
	&:last-child
		margin-right: 0
	svg
		height: 20px
		width: 22px
		fill: $gray
		path: #000
	.st0
		fill: #000000
		stroke: #000000
		stroke-width: 3
		stroke-miterlimit: 10
	&__link
		position: relative
		font-size: 20px
		padding: 6px 8px 0 0
		.i-user
			&:before
				text-shadow: 0 0 0 $text
	.num-total
		position: absolute
		right: 0
		top: 0
		color: $white
		width: 17px
		height: 17px
		border-radius: 10em
		font-size: 10px
		background: $accent
		display: inline-block
		line-height: 17px
		padding-right: 1px
		text-align: center

.user-logged__text
	font-size: 0.43em
	position: absolute
	left: 50%
	transform: translateX(-50%)
	min-width: 125px
	text-align: center
	text-transform: uppercase
	font-weight: 500
	color: $accent

.botline
	box-shadow: 0 5px 15px rgba(0,0,0,.11)
	border-top: 1px solid $color-border

.language
	text-transform: uppercase
	color: #9d9d9d
	display: flex
	font-size: 11px
	.active
		color: $black
		font-weight: 400
	li
		margin-right: 9px
		border-right: 1px solid #9d9d9d
		padding-right: 9px
		&:last-child
			margin-right: 0
			padding: 0
			border: none
		a
			padding: 3px 0

.nav-item
	&:hover
		.nav-item__t
			color: $accent
		.nav-item__dropdown
			// display: flex
			// display: block
			opacity: 1
			z-index: 10
			visibility: visible
			transition-delay: 0.5s
	&__t
		padding: 1.1rem 1.8rem
		display: block
		cursor: pointer
		text-transform: uppercase
		font-size: 0.8em
		font-weight: 500
		transition: color 0.2s ease, padding 0.5s ease
	&__dropdown
		// display: none
		position: absolute
		width: 1170px
		left: 50%
		top: 100%
		box-shadow: 0 5px 10px 0.2px rgba(0, 0, 0, 0.15)
		background: #ffffff
		transform: translateX(-50%)
		opacity: 0
		visibility: hidden
		z-index: -3
		transition: all 0.2s ease-out 0s
		+media-breakpoint-down(lg)
			width: 960px
		&-img
			// flex-basis: 25%
			// max-width: 25%
			position: absolute
			z-index: -1
			opacity: 0.15
			right: 0
			bottom: 0
			max-height: 100%
			max-width: 100%
			//display: none
		&-descr
			// flex-basis: 75%
			// max-width: 75%
			display: flex
			padding: 40px 4% 30px 5%
			flex-wrap: wrap
			max-height: 87vh
			overflow-y: auto
	&__links
		// flex-basis: 30%
		// max-width: 30%
		font-size: 0.85em
		flex-basis: 24%
		max-width: 24%
		padding-right: 15px
		a:hover
			color: $black
			text-shadow: 0 0 0 $text
		&-title
			text-transform: uppercase
			font-weight: 500
			position: relative
			padding-bottom: 7px
			margin-bottom: 18px
			display: block
			&:hover
				text-shadow: none
			&:before
				content: ''
				position: absolute
				bottom: 0
				left: 0
				width: 35px
				height: 1px
				background: $accent
		&-list
			margin: 0 0 25px
			padding: 0
			color: $gark-gray
			li
				list-style-type: none
				margin-bottom: 7px
				&:last-child
					margin-bottom: 0

.search
	color: $gray
	text-shadow: 0 0 0 $gray
	display: flex
	align-items: center
	position: relative
	&.active
		.search-inp
			width: 500px
		.text
			opacity: 0
			visibility: hidden
		.live-search
			opacity: 1
			visibility: visible

	&-btn
		display: flex
		align-items: center
		font-size: 1.2em
		line-height: 1
		cursor: pointer
		transition: all 0.2s ease
		&:hover
			color: $black
		.text
			font-size: 0.73em
			margin-right: 12px
			opacity: 1
			visibility: visible
	&-inp
		position: absolute
		right: 100%
		top: 50%
		transform: translateY(-50%)
		z-index: 1
		width: 0
		padding: 10px 15px
		background: #ffffff
		transition: width 0.35s ease
		input
			border: none
			border-bottom: 1px solid $color-border
			padding: 0
			border-radius: 0
			width: 100%

.live-search
	position: absolute
	width: 500px
	right: 0
	top: calc(100% + 5px)
	z-index: 4
	background: #ffffff
	padding: 15px
	box-shadow: 0 3px 15px rgba(0,0,0,.25)
	border-radius: 3px
	text-shadow: none
	opacity: 0
	visibility: hidden
	transition: all 0.3s ease
	.cart-product
		padding: 16px 12px
		&__img
			width: 80px
			flex-basis: 80px
		&__descr
			margin: 0
			flex-basis: calc(70%)
			max-width: calc(70%)
		&__price
			flex-basis: calc(30%)
			max-width: calc(30%)
			font-weight: 500
			text-align: right
		&__descr-wrapper
			flex-basis: calc(100% - 80px)
			max-width: calc(100% - 80px)
			display: flex
			align-items: center
			flex-wrap: wrap
			justify-content: space-between
			padding: 0 3% 0 6%
	.result-text
		text-align: center
		font-size: 0.9em
		margin-top: 15px

#trigger-btn
	display: none

/*========== Media Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

// ≥992px
+media-breakpoint-down(md)
	.topline
		.menu
			display: none

	.site-nav
		display: none

	#trigger-btn
		display: inline-block

	.topline,
	.botline-inner
		padding: 10px 0

// ≥768px
+media-breakpoint-down(sm)
	.topline
		padding: 6px 0
	.botline-inner
		padding: 8px 0
	.search.active .search-inp
		width: 462px
	.live-search
		right: -50px
	//.search-inp
	//	padding: 0 10px

// ≥576px
+media-breakpoint-down(xs)
	.h-phones
		.dropdown
			right: 0
			left: auto

	.search-btn
		font-size: 1.3em

	.topline .logo img
		width: 100px

	.botline-inner
		.language
			li
				margin-right: 4px
				padding-right: 4px

	#trigger-btn
		padding: 0.62rem 0.7rem 0.62rem
		font-size: 0.7rem

	.search-inp
		padding: 10px

	.search.active
		.search-inp
			width: calc(100vw - 90px)

	.live-search
		width: calc(100vw - 16px)
		right: 5px
		left: 5px
		top: calc(100% + 6px)
		.cart-product__list
			max-height: 268px
			overflow: hidden
			overflow-y: auto
		.cart-product__descr-wrapper
			flex-direction: column
			align-items: flex-start
			> div
				flex-basis: 100%
				max-width: 100%
				padding: 0
			.cart-product__price
				margin-top: 7px

// ≤992px
+media-breakpoint-up(lg)
	.nav-item__t
		padding: 1.1rem 1.3rem

	#my-header.sticky
		.top-banner
			opacity: 0
			visibility: hidden
			height: 0
			padding: 0
		.topline
			padding: 5px 0 10px
		.nav-item__t
			padding: 0.75rem 1.3rem
		.search-inp
			padding: 0 10px

// ≤1200px
+media-breakpoint-up(xl)
	.header .logo
		transform: translateX(46%)

	.nav-item__t
		padding: 1.1rem 1.8rem

	#my-header.sticky .nav-item__t
		padding: 0.75rem 1.8rem
