.comparison-index
	&__item
		display: block
		margin-top: 15px
	&__link
		color: darken($accent, 10%)
		border-bottom: 1px dotted darken($accent, 10%)
		font-size: 1rem
		line-height: 0.9
		&:hover
			border-color: transparent

.comparison-wrapper
	overflow: hidden
	overflow-x: auto

.comparison
	overflow: hidden
	font-size: 0.86em
	border-collapse: collapse
	border-spacing: 0
	th, td
		min-width: 325px
		max-width: 325px
		&:first-child
			max-width: 175px
			min-width: 175px
			text-transform: uppercase
			font-weight: 500
	td
		padding: 14px 10px 15px 20px
		vertical-align: middle
	th
		font-weight: 500
		position: relative
	tr:nth-child(even) 
  	background: $color-comparison-table-tr-bg

.comparison-product
	display: block
	position: relative
	border: 1px solid #ebebeb
	padding: 40px 20px 20px
	margin: 0 5px 10px
	&__info
		display: block
	&__close
		font-size: 12px
		color: #ababab
		line-height: 1
		display: block
		position: absolute
		right: 5px
		top: 5px
		z-index: 1
		transition: all 0.2s ease
		&:hover
			color: $text
	&__image-wrapper
		margin-bottom: 26px
		display: block
		text-align: center
		img
			margin: 0 auto
			max-height: 110px 
	&__prices
		text-align: center
		display: flex
		justify-content: center
	&__btn-wrapper
		display: block
		text-align: center
		margin: 11px 0 5px
	&__code
		margin-top: 8px
		color: $gray-3
		display: block
	&__price
		font-size: 1rem
		font-weight: 700
		&--old
			margin-left: 10px
			color: $gray-3
			font-weight: 400
			text-decoration: line-through

.compare-empty
	text-align: center
	&__text
		font-weight: 500
		margin: 0 0 40px
	&__img
		max-width: 250px
		margin: 0 auto


.compare__block
	display: flex
	line-height: 1.5
	font-size: 0.858em
	.page-compare__left
		flex-basis: 25%
		max-width: 25%
		.one-goods__first.table-compare__item
			padding: 40px 19px 15px
			border: 1px solid transparent
		.table-compare__item
			display: flex
			padding: 14px 10px 12px 20px
			.title
				margin: auto 0
		+media-breakpoint-down(md)
			flex-basis: 30%
			max-width: 30%
		+media-breakpoint-down(sm)
			flex-basis: 42%
			max-width: 42%
		+media-breakpoint-down(xs)
			flex-basis: 34%
			max-width: 34%
	.page-compare__right
		max-width: 75%
		flex-basis: 75%
		+media-breakpoint-down(md)
			flex-basis: 70%
			max-width: 70%
		+media-breakpoint-down(sm)
			flex-basis: 58%
			max-width: 58%
		+media-breakpoint-down(xs)
			flex-basis: 66%
			max-width: 66%

	.item
		.delete
			font-size: 12px
			color: #ababab
			line-height: 1
			display: block
			position: absolute
			right: 5px
			top: 5px
			z-index: 1
			transition: all 0.2s ease
			+media-breakpoint-up(lg)
				&:hover
					color: $text

	.one-goods
		position: relative
		border: 1px solid #ebebeb
		padding: 40px 20px 15px
		margin: 0 5px 10px
		&__image
			text-align: center
			margin-bottom: 15px
			display: flex
			img
				margin: auto
				max-height: 180px
		&__name
			display: block
			font-weight: 500
		&__code
			margin-top: 8px
			color: #999999
			display: block
			font-weight: 500
		.rating-wrap
			margin-bottom: 15px
		button[type=submit]
			padding: 8px 57px
		&__first
			display: flex
			flex-direction: column
			justify-content: space-between
			margin-bottom: 10px
		.product__price
			font-size: 1.29rem
			font-weight: 700
			line-height: 1.3
		.product__bonus
			font-size: 0.85em
			font-weight: 600
			color: $accent
		&--second
			button[type=submit]
				margin-top: 10px

.table-compare
	&__item
		padding: 14px 10px 12px
		.title
			text-transform: uppercase
			font-weight: 500
			border-bottom: none
			line-height: 1.3
			+media-breakpoint-down(xs)
				font-size: 0.85em
				font-weight: 600
	.table-compare__item
		&:nth-child(even)
			background: #f5f5f5

.compare-page__slider
	width: 100%

	.slick-track
		margin-left: 0
	.slick-next, .slick-prev
		z-index: 2
		width: 30px
		height: 30px
		text-align: center
		line-height: 30px
		border-radius: 50%
		background: #ccc
		&:before
			color: $text
			font-size: 15px
			font-weight: 700
		+media-breakpoint-up(lg)
			&:not(.slick-disabled):hover
				background: darken($accent, 10%)
				&:before
					color: #ffffff
		+media-breakpoint-down(xs)
			top: 21.5%
	.slick-next
		right: 0
		&:before
			margin-right: -3px
	.slick-prev
		left: 0
		&:before
			margin-left: -3px

/*========== Media Desktop First  ==========*/
// ≥1200px
+media-breakpoint-down(lg)
	.comparison
		td
			padding: 9px 10px 10px	
		td, th
			min-width: 260px
			max-width: 260px
			&:first-child	
				font-size: 0.9em
				max-width: 160px
				min-width: 160px
	
// ≥992px
+media-breakpoint-down(md)
	.comparison
		td, th
			min-width: 270px
			max-width: 270px

// ≥768px
+media-breakpoint-down(sm)
	.comparison-wrapper
		overflow-x: scroll
	.comparison
		td, th
			min-width: 260px
			max-width: 260px
			&:first-child
				max-width: 150px
				min-width: 150px
		
// ≥576px
+media-breakpoint-down(xs)
	.comparison
		td, th
			min-width: 178px
			max-width: 178px