.map
	height: 100%
	min-height: 400px

.contacts
	padding-left: 10%

.contacts-item
	margin-bottom: 35px
	&:last-child
		margin-bottom: 0
	&__title
		font-weight: 600
		margin-bottom: 10px
		text-shadow: none
	.timework
		line-height: 1.8
	.phones-list
		display: flex
		flex-direction: column
		li
			margin-bottom: 9px
			&:last-child
				margin-bottom: 0
			.a
				display: flex
				align-items: center
			a
				display: inline-flex
				align-items: center
				line-height: 1
		.icon
			display: inline-block
			line-height: 1
	address
		margin: 0 0 4px
	.attention
		margin: 10px 0 0
		line-height: 1.3
		font-size: 0.8em
		color: #868686
		max-width: 260px

.info-window
	font-weight: 400
	max-width: 200px
	>*
		margin-bottom: 0.6rem
		&:last-child
			margin-bottom: 0
	&-title
		text-align: center
		line-height: 1.35
	&-phones
		list-style-type: none
		padding: 0
		font-size: 0.85rem
		li
			margin-bottom: 6px
			&:last-child
				margin-bottom: 0

/*========== Media Desktop First  ==========*/
// ≥768px
+media-breakpoint-down(sm)
	.contacts
		margin: 0 0 50px
		display: flex
		flex-wrap: wrap
		&-item
			flex-basis: 50%
			max-width: 50%
			padding-right: 15px

// ≥576px
+media-breakpoint-down(xs)
	.contacts
		margin: 0 0 40px
		&-item
			flex-basis: 100%
			max-width: 100%
			padding-right: 0
			margin-bottom: 22px