.page-error
	position: relative
	padding: 60px 0
	overflow: hidden
	&.page-content
		min-height: 65vh
	&__img
		position: absolute
		left: 0
		bottom: 0
		z-index: -1

.error-content
	max-width: 430px
	position: relative
	margin: 0 auto
	&__title
		font-size: 12rem
		line-height: 1
		color: darken($accent, 10%)
	.btn
		font-size: 0.75em
		padding: .7rem 1.6rem .6rem
	&__descr
		margin: 12px 0 42px
		line-height: 1.6

.error-content__links.ul li
	margin-bottom: 15px

.error-img
	max-width: 200px
	margin: 0 auto
/*========== Media Desktop First  ==========*/

@media (max-width: $media-xxl-breakpoint)
	.page-error__img
		left: -16%
	
// ≥1200px
+media-breakpoint-down(lg)
	.page-error
		&__img
			left: -25%
		&.page-content
			min-height: 0

// ≥992px
+media-breakpoint-down(md)
	.page-error
		padding: 50px 0
		&__img
			left: 0
			background-position: center bottom

	.error-content
		text-align: center
		&__title
			font-size: 8rem

// ≥576px
+media-breakpoint-down(xs)
	.page-error
		padding: 40px 0
	.error-content__links a
		max-width: 200px
		margin: 0 auto 15px
		&:last-child
			margin-bottom: 0
	.error-content
		margin: 0 auto 25px
		&__title
			font-size: 7rem
		&__descr
			margin-bottom: 28px