.page-success.p-padding
  padding: 50px 0 480px
  +media-breakpoint-down(sm)
    padding: 40px 0 325px

.success-content
  text-align: center
  &__img
    margin: 0 auto
    max-width: 300px
    position: absolute
    bottom: 0
    left: 50%
    transform: translateX(-50%)
    bottom: 267px
    +media-breakpoint-down(sm)
      bottom: 501px
      max-width: 200px
    +media-breakpoint-down(xs)
      bottom: 580px
  &__title
    text-transform: uppercase
    font-size: 1.1rem
    font-weight: 500
    color: $accent
    margin: 0 auto 10px
  &__text
    margin: 0 0 30px